@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 28px;
    }


    .block
    {
        margin-bottom: 80px;
    }



    /*------------
        Header
    ------------*/
    header .logo img
    {
        height: 45px;
    }


    header .slogan
    {
        font-size: 12px;

        margin-left: 20px;
        padding: 4px 0 4px 20px;
    }


    header .menu_btn
    {
        width: 45px;
        height: 45px;
        margin-left: auto;
    }



    /*------------------
        Sidebar menu
    ------------------*/
    .sidebar_menu
    {
        width: 375px;
    }


    .sidebar_menu .close_btn
    {
        width: 45px;
        height: 45px;
    }


    .sidebar_menu .scroll
    {
        padding: 115px 30px 30px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 40px;
        padding-top: 150px;
    }



    .page_title
    {
        font-size: 44px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 40px;
    }


    .block_head .desc
    {
        margin-top: 20px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns > *
    {
        width: calc(100% - var(--form_columns_offset));
    }


    .form .line
    {
        margin-bottom: 15px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider
    {
        margin-bottom: 40px;
    }


    .main_slider .swiper.main .cont
    {
        align-content: flex-start;
        align-items: flex-start;

        min-height: 600px;
        padding-top: 150px;
        padding-bottom: 150px;
    }


    .main_slider .swiper.main .title
    {
        font-size: 44px;
    }

    .main_slider .swiper.main .title br
    {
        display: none;
    }


    .main_slider .btns
    {
        bottom: 70px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .item
    {
        padding: 60px 15px;
    }


    .about_info .item .val
    {
        margin-bottom: 12px;
    }



    /*-----------
        Video
    -----------*/
    .video .link .thumb .icon
    {
        transform: scale(.4);
    }



    /*--------------
        Services
    --------------*/
    .services .row
    {
        margin-left: 0;
    }


    .services .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .services .service .icon,
    .services .service:hover .icon
    {
        width: 60px;
        height: 60px;
        margin-bottom: 30px;
    }



    /*------------------
        Service info
    ------------------*/
    .service_info .image
    {
        margin-top: 30px;
        padding-bottom: 75%;
    }



    /*--------------
        Products
    --------------*/
    .products .swiper-slide
    {
        width: 240px;
    }



    /*--------------------
        Specialization
    --------------------*/
    .specialization .image
    {
        margin-top: 30px;
        padding-bottom: 75%;
    }



    /*-------------------
        Delivery info
    -------------------*/
    .delivery_info .image
    {
        margin-top: 30px;
        padding-bottom: 75%;
    }



    /*---------------
        Transport
    ---------------*/
    .transport .row
    {
        margin-left: 0;
    }


    .transport .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .transport .item .info
    {
        padding: 30px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .phone
    {
        font-size: 22px;

        margin-top: 30px;
    }


    .contacts_info .email,
    .contacts_info .location
    {
        font-size: 15px;
    }


    .contacts_info .download .icon
    {
        width: 9px;
        height: 14px;
        margin-left: 10px;
    }


    .contacts_info .socials a
    {
        width: 47px;
        height: 47px;
    }



    .contacts_info .feedback
    {
        margin-top: 45px;
        padding: 30px;
    }


    .contacts_info .feedback .title
    {
        font-size: 22px;

        margin-bottom: 20px;
    }


    .contacts_info #map
    {
        height: 450px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 70px 0 30px;
    }


    footer .email a,
    footer .phone a
    {
        padding: 15px 23px;
    }


    footer .socials a
    {
        width: 47px;
        height: 47px;
    }


    footer .consult_btn
    {
        margin-top: 30px;
        padding: 15px 20px;
    }


    footer .bottom
    {
        margin-top: 50px;
    }


    footer .copyright
    {
        width: 100%;

        text-align: center;
    }


    footer .privacy_policy_link
    {
        width: 100%;
        margin-top: 10px;

        text-align: center;
    }
}
